<% include ../partials/header %>

<div class="container" style="margin-top:70px;">
	<div class="card" style="width: 40rem;">
		<img src="<%= camp.image %>" class="card-img-top" >
		<div class="card-body">
			<h5 class="card-title">
				<%= camp.name %>
			</h5>
			<p class="card-text">
				<%= camp.description %>
			</p>

			<a href="/campgrounds/<%=camp._id%>/edit"  class="btn btn-primary">Edit</a>
			<form style="display:inline;" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
				<button type="submit" class="btn btn-primary">Remove</button>
			</form>
			<a href="/campgrounds" class="btn btn-primary">Go Back</a>			
		</div>
	</div>
	<div class="card bg-light mt-3" style="width: 40rem;">
		<div class="card-body">
			<div class="text-right">
				<a href="/campgrounds/<%=camp._id%>/comments/new" class="btn btn-success">Add Comment</a>
			</div>
			<hr>		
			<% camp.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-12">
						<strong><%=comment.author%></strong>
						<span class="float-right">10 days ago</span>
						<p>
							<%=comment.text%>
						</p>
					</div>
				</div>				
			<% }) %>
		</div>		
	</div>
	
</div>

<% include ../partials/footer %>